html {
  min-width: 100%;
  height: 100%;
}

body {
  min-width: 100%;
  height: 100%;
  margin: 0;
  background-color: #292a2d;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  min-width: 100%;
  text-align: center;
  background-color: #292a2d;
}

.header .main_box {
  border-bottom: 1px solid #393a3c;
  margin-bottom: 15px;
  padding-bottom: 20px;
  margin-top: 50px;
}

.header .main {
  width: 1130px;
  margin: 0 auto;
  height: fit-content;
}

.header .main img {
  position: relative;
  top: -3px;
  height: 70px;
  width: 180px;
  margin-right: 20px;
}

.header .main .others {
  display: inline-block;
  position: relative;
  top: -95px;
  left: 50px;
}

.header .main .startPage a {
  font-size: 11px;
  color: grey;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid grey;
}
.header .main .startPage a:hover {
  text-decoration: underline;
}
.header .main .junior a {
  font-size: 1px;
  color: #c0c4c9;
}

.header .main .search {
  display: inline-block;
  position: relative;
  top: -18px;
  height: 52px;
  font-size: 0;
}

.header .main .search .search_text {
  display: inline-block;
  position: relative;
  background-color: #292a2d;
  color: white;
  font-size: 20px;
  top: -22px;
  vertical-align: center;
  width: 456px;
  height: 26px;
  padding: 13px 15px;
  border: 2px solid rgb(3, 186, 64);
}
.header .main .search .search_text:focus {
  outline: none;
}

.header .main .search .search_btn {
  width: 56px;
  height: 56px;
  padding: 0px;
  border: 2px solid rgb(3, 186, 64);
  border-left: 0;
  background-color: #292a2d;
}

.header .main .search .search_btn:focus {
  outline: none;
}

.header {
  width: 1130px;
  height: 160px;
}

.header .category {
  min-width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-right: 50px;
}

.header .category ul {
  position: relative;
  width: 1130px;
  margin: 0 auto;
  padding: 0;
}

.header .category ul .greenText a {
  color: rgb(3, 186, 64);
  font-size: 15px;
  font-weight: bolder;
}

.header .category ul .whiteText a {
  color: white;
  font-size: 15px;
  font-weight: bolder;
}

.header .category ul div {
  display: inline-block;
}

.header .category ul li {
  display: inline-block;
  margin-left: 10px;
}

.header .category .more {
  color: white;
  font-size: 13px;
  margin-left: 20px;
}

.header .category .realtime {
  margin-left: 30px;
}

.header .category .realtime .rank {
  color: rgb(3, 186, 64);
  font-weight: bold;
}

.header .category .realtime .ranker {
  font-size: 13px;
  color: white;
  position: relative;
  top: 2px;
  display: inline-block;
  margin-left: 3px;
  margin-right: 30px;
  width: 172.3px;
  text-align: left;
  overflow-x: hidden;
}

.center_box {
  min-width: 1190px;
  background-color: #1e1f21;
}

.center_box .center {
  width: 1130px;
  margin: 0 auto;
  padding: 20px 30px;
}
.center .left {
  display: inline-block;
  width: 770px;
}

.center .left .add {
  width: 750px;
  height: 135px;
}

.center .left .realtime_news {
  width: 720px;
  margin-top: 10px;
  padding: 15px;
  border: 1px solid grey;
  background-color: rgb(44, 45, 48);
}

.center .left .realtime_news .uniNews {
  position: relative;
  top: -2px;
  font-size: 13px;
  color: white;
}

.center .left .realtime_news i {
  position: relative;
  top: -2px;
  font-size: 11px;
  color: grey;
  margin-right: 5px;
}

.center .left .realtime_news .des {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 310px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  color: rgb(169, 169, 171);
  margin-right: 150px;
}

.center .left .realtime_news .link {
  display: inline-block;
  position: relative;
  top: -2px;
}

.center .left .realtime_news .link a {
  font-size: 13px;
  color: white;
}

.center .left .realtime_news .link .first {
  color: skyblue;
}

.center .left .subscribedNews {
  width: 750px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.center .left .subscribedNews .newsstand {
  font-size: 15px;
  color: white;
}

.center .left .subscribedNews i {
  font-size: 15px;
  color: grey;
}

.center .left .subscribedNews .press {
  font-size: 15px;
  color: grey;
  margin-right: 10px;
}

.center .left .subscribedNews .all_press {
  color: white;
}

.center .left .subscribedNews .icons {
  display: inline-block;
  margin-left: 350px;
}

.center .left .subscribedNews .icons i {
  font-size: 14px;
  margin-left: 15px;
}

.center .right {
  display: inline-block;
  width: 350px;
}
